@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@{
    string controller = ViewContext.RouteData.Values["Controller"]?.ToString();
    string action = ViewContext.RouteData.Values["Action"]?.ToString();
    int activeLink = 0;
    if(controller == "Meters")
    {
        switch(action)
        {
            case "Readings":
            activeLink = 2;
            break;

            case "Charts":
            activeLink = 3;
            break;

            default:
            activeLink = 1;
            break;
        }
    }
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="light dark">
    <title>@ViewData["Title"] - САУППУ</title>

    <script>
        if (window.matchMedia("(prefers-color-scheme: dark)").media === "not all") {
            document.documentElement.style.display = "none";
            document.head.insertAdjacentHTML(
                "beforeend",
                "<link id=\"css\" rel=\"stylesheet\" href=\"../dist/css/bootstrap.css\" onload=\"document.documentElement.style.display = ''\">"
            );
        }
    </script>
    
    <link id="css-dark" rel="stylesheet" media="(prefers-color-scheme: dark)" href="~/lib/bootstrap-dark-5/dist/css/bootstrap-night.min.css" />
    <link id="css-light" rel="stylesheet" media="(prefers-color-scheme: light)" href="~/lib/bootstrap-dark-5/dist/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-utilities.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" />

    <!--
      *************************************************************************
      *** CODE FOR THE TOGGLE BUTTON STARTS HERE
      *************************************************************************
    -->

    <script>
        // from: https://stackoverflow.com/questions/9899372#9899701
        function docReady(fn) {
            // see if DOM is already available
            if (document.readyState === "complete" || document.readyState === "interactive") {
                // call on next available tick
                setTimeout(fn, 1);
            } else {
                document.addEventListener("DOMContentLoaded", fn);
            }
        }

        docReady(function () {
            // DOM is loaded and ready for manipulation from here

            // parts from: https://radek.io/posts/secret-darkmode-toggle/

            const toggle_btn = document.getElementById('toggle-btn');
            var isCssInit = false;

            function setColorPreference(color_p, persist = false) {
                const new_s = color_p;
                const old_s = color_p === 'light' ? 'dark' : 'light'

                const el = document.body;  // gets root <html> tag
                el.classList.add('color-scheme-' + new_s);
                el.classList.remove('color-scheme-' + old_s);

                if (persist) {
                    localStorage.setItem('preferred-color-scheme', color_p);
                }
            }

            function updateUI(color_p, id = 'css') {
                toggle_btn.checked = color_p === 'dark';

                if (isCssInit) {
                    const el = document.querySelector('#' + id);
                    const data = el.dataset;
                    if (toggle_btn.checked) {
                        el.setAttribute('href', data.hrefDark)
                    } else {
                        el.setAttribute('href', data.hrefLight);
                    }
                    data.colorScheme = color_p;
                }
            }

            function initColorCSS(color_p, id = 'css') {
                isCssInit = true;

                el_o = document.querySelector('#' + id);
                if (el_o !== null) el_o.remove();
                el_l = document.querySelector('#' + id + '-light');
                el_d = document.querySelector('#' + id + '-dark');
                if (color_p === 'dark') {
                    el = el_d;
                    el_o = el_l;
                } else {
                    el = el_l;
                    el_o = el_d;
                }
                el.setAttribute('data-href-light', el_l.getAttribute('href'));
                el.setAttribute('data-href-dark', el_d.getAttribute('href'));
                el.setAttribute('data-color-scheme', color_p);
                el.setAttribute('media', 'all');
                el.setAttribute('id', id);
                el_o.remove();
            }

            toggle_btn.addEventListener('click', () => {
                const color_p = toggle_btn.checked ? 'dark' : 'light';

                if (!isCssInit) initColorCSS(color_p);

                setColorPreference(color_p, true);
                updateUI(color_p);
            });

            document.addEventListener("keypress", function (event) {
                var keyName = event.key;
                if ((keyName == 'd') || (keyName == 'D')) {
                    toggle_btn.click();
                }
            });

            /* Set Preference on load */
            const osColorPreference = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
            // console.log('OS wants ' + osColorPreference);
            var preferredColorScheme = localStorage.getItem('preferred-color-scheme');
            if (preferredColorScheme !== null) {
                initColorCSS(preferredColorScheme);
            } else {
                preferredColorScheme = osColorPreference;
            }
            setColorPreference(preferredColorScheme, false);
            updateUI(preferredColorScheme);
        });
    </script>

    <!--
      !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
      !!! CODE FOR THE TOGGLE BUTTON ***ENDS*** HERE
      !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    -->
</head>
<body>
    <header>
        <nav class="navbar navbar-expand navbar-light bg-info border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" title="Система автоматического учета показаний приборов учета">САУППУ</a>
                <ul class="navbar-nav me-auto">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <a class="nav-link @(activeLink == 1 ? "active" : null)" asp-area="" asp-controller="Meters" asp-action="Index" title="Приборы учета"><i class="bi bi-speedometer"></i><span class="d-none d-sm-inline"> Приборы<span class="d-none d-md-inline"> учета</span></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(activeLink == 2 ? "active" : null)" asp-area="" asp-controller="Meters" asp-action="Readings" title="Показания"><i class="bi bi-table"></i><span class="d-none d-sm-inline"> Показания</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(activeLink == 3 ? "active" : null)" asp-area="" asp-controller="Meters" asp-action="Charts" title="Графики"><i class="bi bi-bar-chart-line"></i> Графики</a>
                        </li>
                    }
                </ul>
                <form class="d-flex">
                    <div class="form-check form-switch">
                        <input class="form-check-input" checked type="checkbox" id="toggle-btn" title="Переключить темную / светлую темы">
                        <label class="form-check-label" for="toggle-btn"></label>
                    </div>
                </form>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row align-items-center" style="height: 60px;">
                <div class="col">
                    <span>&copy; 2021 - Система автоматического учета показаний приборов учета</span>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
